@font-face {
    font-family: 'RedHatDisplay-Regular';
    src: url('/RedHatDisplay-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'RedHatDisplay-Bold';
    src: url('/RedHatDisplay-Black.ttf') format('truetype');
  }
  @font-face {
    font-family: 'RedHatDisplay-Medium';
    src: url('/RedHatDisplay-Medium.ttf') format('truetype');
  }