@media only screen and (max-device-width: 767px) {
    .ResponsiveSubHeading {
        width: 90% !important;
    }

    .ResponsiveBio {
        width: 90% !important;
    }

    .ResponsiveProjects {
        display: flex;
        flex-direction: column;
        width: 90% !important;
        padding: 0 !important;
    }

    .ProjectInfo, .ProjectInfo div{
        margin: 2% 0% !important;
        order: 1;
        padding: 0 !important;
    }
    .ProjectSlides {
        order: 2;
    }

    .ProjectSlides div {
        padding: 0 !important;
        margin: 5% 0% !important
    }

    .ProjectTitle {
        font-size: 2rem !important;
    }
}