@media only screen and (max-device-width: 767px) {
    .ResponsiveSubHeading {
        width: 90% !important;
    }

    .ResponsiveBio {
        width: 90% !important;
    }

    .ResponsiveProjects{
        display: flex;
        flex-direction: column;
        width: 100% !important;
        padding: 0 !important;
        margin: 0% !important;
    }

    .ProjectInfo div{
        margin: 0% !important;
    }

    .ProjectSlides div{
        padding: 1% !important;
    }

    
    .ProjectInfo{   
        order: 1;
    }
    .ProjectSlides{
        order: 2;
    }

    .ProjectTitle {
        font-size: 2rem !important;
    }
}